/.bundle
/.capistrano
/config/database.yml
/config/deploy.yml
/config/settings.yml
/config/secrets.yml
/coverage/
/db/*.sqlite3
/log/*
/public/system/*
/spec/tmp/*
/tmp/*
/vendor/bundle
capybara-*.html
rerun.txt
/public/assets/*
/bin
.*swp
